/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap');

:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, .2) 0px 2px 4px -1px, rgba(145, 158, 171, .14) 0px 4px 5px 0px, rgba(145, 158, 171, .12) 0px 1px 10px 0px;
  --font-family: 'Encode Sans Expanded', sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}

.rating-color {
  color: var(--rating-color);
}

.cursor-pointer {
  cursor: pointer;
}

a,
a:hover {
  color: black;
  text-decoration: none;
}

.product:hover {
  cursor: pointer;
}

.product .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}

.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);

}

.font-sm {
  font-size: 14px;
}

.text-main {
  color: var(--main-color);
}

.bg-main {
  background-color: var(--main-color) !important;
}

.bg-main-light {
  background-color: var(--light-color) !important;
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 9999;
  color: var(--main-color);
  background-color: var(--light-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: bolder;
}

nav,
footer,
.cart-customize,
.brand-item {
  background-color: #eee;
}

.cursol {
  cursor: pointer;
}

footer img {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}

.cart-customize .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}

.cart-customize {
  border-radius: 10px;
}

.cart-customize:hover .btn {
  opacity: 1;
  transform: translateY(0);
}
/* 
.cart-customize:hover {
  box-shadow: 15px 15px 15px rgb(93, 104, 107) !important;
} */

.brand-item:hover {
  box-shadow: 15px 15px 15px lightblue !important;
}

.bg-main {
  background-color: #0AAD0A !important;
}

.text-main {
  color: #0AAD0A !important;
}

.star-main {
  color: #ffc908 !important;
}

.numCustomize {
  height: 25px;
  width: 25px;
  position: absolute;
  top: -10px;
  right: -10px;
}

.wishCustomize {
  height: 25px;
  width: 25px;
  position: absolute;
  top: -10px;
  right: 0;
}

.fa-regular,
.fa-solid {
  cursor: pointer !important;
}

.fa-regular:hover {
  color: #dc3545 !important;

}

.orderPayment {
  width: 250px;
  height: 250px;
  border: 2px solid rgb(54, 187, 112);
}

.order {
  border: 2px solid rgb(54, 187, 112);
}

.forgetPass:hover {
  color: #198754 !important;
  font-weight: 700;
}

.signIn:hover {
  color: #198754 !important;
  font-weight: 700;
}

.fa-eye {
  cursor: pointer;
  color: #198754 !important;
}

.nav-link:hover {
  color: #198754 !important;
  font-weight: 800;
}


.iconaa{
  position: absolute;
  bottom: 90px;
  right: 0;
}


img{
  transition: all .6s;
  
}
.sora:hover img{
  transform: scale(1.2);
}
.sora{
  border-radius: 10px;

  overflow: hidden;
}